<nav class="navigation-links-nav" [ngClass]="rootClassName">
  <a routerLink="/graphic-design" class="navigation-links-navlink">
    {{ graphicDesign }}
  </a>
  <a routerLink="/social-media-design" class="navigation-links-navlink1">
    {{ socialMediaDesign }}
  </a>
  <a routerLink="/user-interface-experience" class="navigation-links-navlink2">
    {{ userInterfaceUserExperience }}
  </a>
  <a routerLink="/website-design" class="navigation-links-navlink3">
    {{ websiteDesign }}
  </a>
  <span class="navigation-links-text">{{ text4 }}</span>
</nav>
