<div class="website-design-container">
  <div class="website-design-hero">
    <div class="website-design-container01">
      <h1 class="website-design-text">Web Design</h1>
      <span class="website-design-text01">
        <span>
          Navigate the digital landscape with exceptional website design. Each
          website is not just a digital presence but a crafted experience.
          Explore my portfolio to see how I merge aesthetics with functionality,
          creating online spaces that leave a lasting impression.
        </span>
        <br />
        <br />
      </span>
      <div class="website-design-btn-group">
        <button class="website-design-button button">Get Started</button>
        <button class="website-design-button1 button">Learn More</button>
      </div>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&amp;ixlib=rb-1.2.1&amp;w=1200"
      class="website-design-image"
    />
  </div>
  <div class="website-design-features">
    <h1 class="website-design-text05">CREATE SOMETHING GREAT</h1>
    <span class="website-design-text06">
      <span class="website-design-text07">
        At the core of our business is development. We are delivering efficient,
        scalable, and thoroughly tested solutions.
      </span>
      <br />
      <span>Empowering Your Vision with Cutting-Edge Solutions.</span>
      <br />
      <br />
    </span>
    <button class="website-design-button2 button">Learn More</button>
    <div class="website-design-container02"></div>
  </div>
  <div class="website-design-testimonial">
    <div class="website-design-container03">
      <h1 class="website-design-text12">
        <span>We believe in collaboration and innovation</span>
        <br />
      </h1>
      <span class="website-design-text15">
        Versatile web design and development services committed to transforming
        your concepts into captivating online realities. Let&apos;s bring your
        ideas to life!
      </span>
      <div class="website-design-container04"></div>
    </div>
  </div>
  <div class="website-design-gallery">
    <div class="website-design-container05">
      <div class="website-design-container06">
        <h1 class="website-design-text16">Ecommerce</h1>
        <span class="website-design-text17">Lorem ipsum dolor sit amet</span>
      </div>
    </div>
    <div class="website-design-container07">
      <div class="website-design-container08">
        <h1 class="website-design-text18">Blog</h1>
        <span class="website-design-text19">
          <span>Lorem ipsum dolor sit amet</span>
        </span>
      </div>
    </div>
    <div class="website-design-container09">
      <div class="website-design-container10">
        <h1 class="website-design-text21">Portfolio</h1>
        <span class="website-design-text22">
          <span>Lorem ipsum dolor sit amet</span>
        </span>
      </div>
    </div>
    <div class="website-design-container11">
      <div class="website-design-container12">
        <h1 class="website-design-text24">
          <span class="website-design-text25">Landing Page</span>
          <br />
          <br class="website-design-text27" />
        </h1>
        <span class="website-design-text28">
          <span>Lorem ipsum dolor sit amet</span>
        </span>
      </div>
    </div>
    <div class="website-design-container13">
      <div class="website-design-container14">
        <h1 class="website-design-text30">
          Content Management System (CMS) Integration
        </h1>
        <span class="website-design-text31">
          <span>Lorem ipsum dolor sit amet</span>
        </span>
      </div>
    </div>
    <div class="website-design-container15">
      <div class="website-design-container16">
        <h1 class="website-design-text33">Project Title</h1>
        <span class="website-design-text34">
          <span>Lorem ipsum dolor sit amet</span>
        </span>
      </div>
    </div>
  </div>
</div>
