<div class="social-media-design-container">
  <div class="social-media-design-features">
    <h1 class="social-media-design-text">Social Media Design</h1>
    <div class="social-media-design-container1">
      <feature-card13
        rootClassName="rootClassName"
        title="SETUP AND OPTIMIZATION"
        imageAlt="SETUP AND OPTIMIZATION"
      ></feature-card13>
      <feature-card13
        rootClassName="rootClassName1"
        title="CONTENT CREATION"
        imageAlt="CONTENT CREATION"
      ></feature-card13>
      <feature-card13
        rootClassName="rootClassName2"
        title="BRANDING IDENTITY"
        imageAlt="BRANDING IDENTITY"
      ></feature-card13>
      <feature-card13
        rootClassName="rootClassName3"
        title="CONTENT CALENDARS"
        imageAlt="CONTENT CALENDARS"
      ></feature-card13>
      <feature-card13
        rootClassName="rootClassName7"
        title="SOCIAL MEDIA ADVERTISING"
        imageAlt="SOCIAL MEDIA ADVERTISING"
      ></feature-card13>
      <feature-card13
        rootClassName="rootClassName6"
        title="ANALYTICS AND REPORTING"
        imageAlt="ANALYTICS AND REPORTING"
      ></feature-card13>
    </div>
  </div>
  <div class="social-media-design-hero">
    <h1 class="social-media-design-text1">Let&apos;s keep things organized</h1>
    <span class="social-media-design-text2">
      <span>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis.
          <span [innerHTML]="raw7jlq"></span>
        </span>
        <span><span [innerHTML]="raw10r2"></span></span>
      </span>
      <br />
      <span>
        <span>
          Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
          <span [innerHTML]="raw19sm"></span>
        </span>
        <span><span [innerHTML]="rawqabp"></span></span>
      </span>
    </span>
    <div class="social-media-design-btn-group"></div>
  </div>
</div>
