<div class="social-media-design-container">
  <div class="social-media-design-features">
    <h1 class="social-media-design-text">Social Media Design</h1>
    <div class="social-media-design-container1"></div>
  </div>
  <div class="social-media-design-hero">
    <h1 class="social-media-design-text01">
      <span class="social-media-design-text02">We Creat Brands</span>
      <br />
    </h1>
    <span class="social-media-design-text04">
      <span>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis.
          <span [innerHTML]="raw01on"></span>
        </span>
        <span><span [innerHTML]="rawmm13"></span></span>
      </span>
      <br />
      <span>
        <span>
          Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
          <span [innerHTML]="rawu9ru"></span>
        </span>
        <span><span [innerHTML]="rawn2ud"></span></span>
      </span>
    </span>
    <div class="social-media-design-btn-group"></div>
  </div>
  <h2 class="social-media-design-text11">Portfolio</h2>
  <div class="social-media-design-gallery"></div>
  <div class="social-media-design-gallery1"></div>
</div>
