<div class="home-container">
  <app-header rootClassName="header-root-class-name"></app-header>
  <div class="home-sec1">
    <h1 class="home-text">Let&apos;s maintain visual harmony!</h1>
    <span class="home-text01">
      <span>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis.
          <span [innerHTML]="rawstdv"></span>
        </span>
        <span><span [innerHTML]="raw03p3"></span></span>
      </span>
      <br />
      <span>
        <span>
          Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
          <span [innerHTML]="rawzh1b"></span>
        </span>
        <span><span [innerHTML]="rawrtjf"></span></span>
      </span>
    </span>
    <div class="home-sec1-btn-group">
      <button class="home-button button">Get Started</button>
      <button class="home-button1 button">Contact us</button>
    </div>
  </div>
  <div class="home-hero">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1588064643233-49210b27b82e?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE3fHxmcmVlbGFuY2VyfGVufDB8fHx8MTcwOTM4MDY2N3ww&amp;ixlib=rb-4.0.3&amp;w=1500"
      loading="lazy"
      class="home-image"
    />
    <div class="home-container01">
      <h1 class="home-text08">Who we are?</h1>
      <p class="home-text09">
        <span>
          We are passionate and versatile graphic designers with a keen eye for
          aesthetics and a commitment to delivering visually compelling
          solutions.
          <span [innerHTML]="rawgujx"></span>
        </span>
        <br />
        <span>
          With a background in
          <span [innerHTML]="rawx7m6"></span>
        </span>
        <span class="home-text13">Graphic Design &amp; Web Design</span>
        <span>
          , We try our best to bring a unique blend of creativity and technical
          proficiency to every project.
          <span [innerHTML]="rawvcw2"></span>
        </span>
        <br />
        <span>
          Whether it&apos;s crafting engaging brand identities, designing
          captivating marketing materials, or illustrating impactful visuals,
          our goal is to transform ideas into visually stunning realities.
          <span [innerHTML]="rawipjh"></span>
        </span>
        <br />
        <span>
          Explore our portfolio to discover the diverse range of projects that
          showcase my skills, dedication, and love for the art of graphic
          design.
        </span>
      </p>
    </div>
  </div>
  <div class="home-our-missio-sec">
    <div class="home-container02">
      <h1 class="home-text19">Our Mission</h1>
      <span class="home-text20">
        Our goal is to seamlessly integrate human-centered design principles
        with the latest digital technologies, creating seamless and
        transformative experiences for users around the world.
      </span>
      <button class="home-button2 button">Get Started</button>
    </div>
    <img
      alt="Elecnovate Mission"
      src="/assets/Home/blue%203d%20modern%20freelancer%20tips%20checklist%20instagram%20post1-1500h.png"
      loading="lazy"
      class="home-image1"
    />
  </div>
  <div class="home-features">
    <h1 class="home-text21">Our services</h1>
    <div class="home-container03">
      <feature-card11
        title="Logo &amp; Branding"
        imageSrc="/assets/Home/logo%20and%20branding.svg"
        rootClassName="rootClassName"
      ></feature-card11>
      <feature-card11
        title="Photo Editing"
        imageSrc="/assets/Home/photo%20editing.svg"
        rootClassName="rootClassName1"
      ></feature-card11>
      <feature-card11
        title="Print Design"
        imageSrc="/assets/Home/print%20design.svg"
        rootClassName="rootClassName2"
      ></feature-card11>
      <feature-card11
        title="Marketing and Advertising"
        imageSrc="/assets/Home/marketing%20and%20advertisment.svg"
        rootClassName="rootClassName3"
      ></feature-card11>
      <feature-card11
        title="Print on Demand"
        imageSrc="/assets/Home/print%20on%20demand.svg"
        rootClassName="rootClassName7"
      ></feature-card11>
      <feature-card11
        title="UI/UX Design"
        imageSrc="/assets/Home/user%20interface%20and%20user%20experience.svg"
        rootClassName="rootClassName6"
      ></feature-card11>
      <feature-card11
        title="Website Design"
        imageSrc="/assets/Home/website%20design.svg"
        rootClassName="rootClassName5"
      ></feature-card11>
      <feature-card11
        title="Social Media Designing"
        imageSrc="/assets/Home/social%20media%20design.svg"
        rootClassName="rootClassName4"
      ></feature-card11>
    </div>
  </div>
  <div class="home-features1">
    <h1 class="home-text22">
      Grow Your Business with Full-Service Graphics Designing
    </h1>
    <div class="home-separator"></div>
    <div class="home-container04">
      <div class="home-container05">
        <feature-card4
          title="Flexible work life"
          description="We operate beyond conventional hours; we work longer than normal. We know that the unexpected can happen, and we adapt accordingly."
          rootClassName="rootClassName1"
        ></feature-card4>
        <feature-card4
          title="Self-care &amp; wellness"
          description="At Elecnovate, I prioritize self-care and wellness, promoting balance and personal growth."
          rootClassName="rootClassName4"
        ></feature-card4>
        <feature-card4
          title="Your future"
          description="A world of endless possibilities waiting to be explored and embraced. Let's take this journey together, discover new possibilities."
          rootClassName="rootClassName3"
        ></feature-card4>
        <feature-card4
          title="A culture of belonging"
          description="At Elecnovate, we value inclusiveness by valuing each team member and creating an environment of respect and collaboration. It boosts engagement, creativity and well-being."
          rootClassName="rootClassName2"
        ></feature-card4>
      </div>
      <img
        alt="image"
        src="/assets/Home/graphics%20design%20services-500h.png"
        class="home-image2"
      />
    </div>
  </div>
  <div class="home-banner">
    <div class="home-container06">
      <h1 class="home-text23">​Our Philosophy</h1>
      <span class="home-text24">
        <span class="home-text25">
          ​At the core of our philosophy lies a deep reverence for creativity,
          innovation, and human connection. We believe in the power of design to
          transcend mere functionality, enriching lives and sparking meaningful
          interactions.
        </span>
        <br class="home-text26" />
        <span class="home-text27">
          ​We champion a holistic approach that marries form with function,
          aesthetics with usability, and emotion with technology. Every project
          is a canvas where we blend artistry with precision, crafting
          experiences that resonate with authenticity and purpose.
        </span>
        <span><span [innerHTML]="raw81u6"></span></span>
        <span><span [innerHTML]="raw1lbu"></span></span>
      </span>
      <div class="home-container07"></div>
    </div>
    <img
      alt="image"
      src="/assets/Home/elecnovate%20philosophy.svg"
      class="home-image3"
    />
  </div>
  <div class="home-gallery">
    <gallery-card1
      title="Branding &amp; Strategy"
      imageSrc="/assets/Home/brand%20and%20strategy-1500w.png"
      subtitle="Graphic Design"
      rootClassName="rootClassName"
    ></gallery-card1>
    <gallery-card1
      title="User Interface &amp; Experience"
      imageSrc="/assets/Home/user%20interface%20and%20user%20experience1.svg"
      subtitle="Graphic Design"
      rootClassName="rootClassName1"
    ></gallery-card1>
    <gallery-card1
      title="Photo Editing"
      imageSrc="/assets/Home/photo%20editing1.svg"
      subtitle="Graphic Design"
      rootClassName="rootClassName2"
    ></gallery-card1>
    <gallery-card1
      title="Marketing &amp; Advertising"
      imageSrc="/assets/Home/marketing%20and%20advertisment-1500w.png"
      subtitle="Graphic Design"
      rootClassName="rootClassName3"
    ></gallery-card1>
    <gallery-card1
      title="Print on Demand"
      imageSrc="/assets/Home/print%20on%20demand1.svg"
      subtitle="Graphic Design"
      rootClassName="rootClassName4"
    ></gallery-card1>
    <gallery-card1
      title="Print Design"
      imageSrc="/assets/Home/print%20design1.svg"
      subtitle="Graphic Design"
      rootClassName="rootClassName5"
    ></gallery-card1>
    <gallery-card11
      title="Website Design"
      imageSrc="/assets/Home/website%20design%20(2)-1500w.png"
      subtitle="Graphic Design"
      rootClassName="rootClassName2"
    ></gallery-card11>
    <gallery-card11
      title="Wordpress Design"
      imageSrc="https://images.unsplash.com/photo-1559028012-481c04fa702d?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDJ8fHdlYnNpdGUlMjBkZXNpZ258ZW58MHx8fHwxNzA5Mzg2MDAyfDA&amp;ixlib=rb-4.0.3&amp;h=1500"
      subtitle="Web Design"
      rootClassName="rootClassName"
    ></gallery-card11>
    <gallery-card11
      title="Social Media Design"
      imageSrc="https://images.unsplash.com/photo-1611162616305-c69b3fa7fbe0?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE0fHxzb2NpYWwlMjBtZWRpYXxlbnwwfHx8fDE3MDk0NDI2NjR8MA&amp;ixlib=rb-4.0.3&amp;h=1500"
      subtitle="Graphic Design"
      rootClassName="rootClassName1"
    ></gallery-card11>
  </div>
  <div class="home-banner1">
    <div class="home-container08">
      <h1 class="home-text30">About us</h1>
      <span class="home-text31">
        At Elecnovate, we&apos;re not just a team of designers; we&apos;re a
        collective passionate about redefining the design services landscape.
        Our journey begins with a simple belief: every pixel, every line, and
        every color has the potential to tell an interesting story.
      </span>
      <div class="home-container09">
        <button class="home-button3 button">
          <span>
            <span class="home-text33">Learn More</span>
            <br />
          </span>
        </button>
      </div>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1506097425191-7ad538b29cef?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDF8fGdyYXBoaWMlMjBkZXNpZ3xlbnwwfHx8fDE3MDk0NDQxMjN8MA&amp;ixlib=rb-4.0.3&amp;w=300"
      class="home-image4"
    />
  </div>
</div>
