<div class="home-container">
  <app-header></app-header>
  <div class="home-hero">
    <h1 class="home-text">Let&apos;s maintain visual harmony!</h1>
    <span class="home-text01">
      <span>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis.
          <span [innerHTML]="rawom4v"></span>
        </span>
        <span><span [innerHTML]="raw48xm"></span></span>
      </span>
      <br />
      <span>
        <span>
          Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
          <span [innerHTML]="rawq0sl"></span>
        </span>
        <span><span [innerHTML]="rawwv9h"></span></span>
      </span>
    </span>
    <div class="home-btn-group">
      <button class="home-button button">Get Started</button>
      <button class="home-button1 button">Contact us</button>
    </div>
  </div>
  <div class="home-hero1">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1529859503572-5b9d1e68e952?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fG1pbmltYWxpc20lMjBjb3VjaHxlbnwwfHx8fDE2MjYxODI1OTE&amp;ixlib=rb-1.2.1&amp;w=1500"
      class="home-image"
    />
    <div class="home-container1">
      <h1 class="home-text08">Who we are?</h1>
      <p class="home-text09">
        <span>
          We are Two passionate and versatile graphic designers with a keen eye
          for aesthetics and a commitment to delivering visually compelling
          solutions. With a background in
          <span [innerHTML]="raw0ltm"></span>
        </span>
        <span class="home-text11">Graphic Design &amp; Web Design</span>
        <span>
          , We try our best to bring a unique blend of creativity and technical
          proficiency to every project. Whether it&apos;s crafting engaging
          brand identities, designing captivating marketing materials, or
          illustrating impactful visuals, our goal is to transform ideas into
          visually stunning realities. Explore our portfolio to discover the
          diverse range of projects that showcase my skills, dedication, and
          love for the art of graphic design.
        </span>
      </p>
    </div>
  </div>
  <div class="home-banner">
    <h1 class="home-text13">Our Mission?</h1>
    <p class="home-text14">
      Our goal is to seamlessly integrate human-centered design principles with
      the latest digital technologies, creating seamless and transformative
      experiences for users around the world.
    </p>
    <span class="home-text15">
      <span>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis.
          <span [innerHTML]="rawqh37"></span>
        </span>
        <span><span [innerHTML]="rawi0xt"></span></span>
      </span>
      <span>
        <span>
          Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
          <span [innerHTML]="rawr3cy"></span>
        </span>
        <span><span [innerHTML]="rawsx0v"></span></span>
      </span>
    </span>
  </div>
  <div class="home-features">
    <h1 class="home-text22">Our services</h1>
    <div class="home-container2">
      <feature-card11
        title="Logo &amp; Branding"
        rootClassName="rootClassName"
      ></feature-card11>
      <feature-card11
        title="Photo Editing"
        rootClassName="rootClassName1"
      ></feature-card11>
      <feature-card11
        title="Print Design"
        rootClassName="rootClassName2"
      ></feature-card11>
      <feature-card11
        title="Marketing and Advertising"
        rootClassName="rootClassName3"
      ></feature-card11>
      <feature-card11
        title="Print on Demand"
        rootClassName="rootClassName7"
      ></feature-card11>
      <feature-card11
        title="UI/UX Design"
        rootClassName="rootClassName6"
      ></feature-card11>
      <feature-card11
        title="Website Design"
        rootClassName="rootClassName5"
      ></feature-card11>
      <feature-card11
        title="Social Media Designing"
        rootClassName="rootClassName4"
      ></feature-card11>
    </div>
  </div>
  <div class="home-features1">
    <h1 class="home-text23">
      Grow Your Business with Full-Service Graphics Designing
    </h1>
    <div class="home-separator"></div>
    <div class="home-container3">
      <div class="home-container4">
        <feature-card4
          title="Flexible work life"
          description="We operate beyond conventional hours; we work longer than normal. We know that the unexpected can happen, and we adapt accordingly."
          rootClassName="rootClassName1"
        ></feature-card4>
        <feature-card4
          title="Self-care &amp; wellness"
          description="At Elecnovate, I prioritize self-care and wellness, promoting balance and personal growth."
          rootClassName="rootClassName4"
        ></feature-card4>
        <feature-card4
          title="Your future"
          description="A world of endless possibilities waiting to be explored and embraced. Let's take this journey together, discover new possibilities."
          rootClassName="rootClassName3"
        ></feature-card4>
        <feature-card4
          title="A culture of belonging"
          description="At Elecnovate, we value inclusiveness by valuing each team member and creating an environment of respect and collaboration. It boosts engagement, creativity and well-being."
          rootClassName="rootClassName2"
        ></feature-card4>
      </div>
      <img
        alt="image"
        src="/assets/Home/graphics%20design%20services-500h.png"
        class="home-image1"
      />
    </div>
  </div>
  <div class="home-banner1">
    <div class="home-container5">
      <h1 class="home-text24">​Our Philosophy</h1>
      <span class="home-text25">
        <span class="home-text26">
          ​At the core of our philosophy lies a deep reverence for creativity,
          innovation, and human connection. We believe in the power of design to
          transcend mere functionality, enriching lives and sparking meaningful
          interactions.
        </span>
        <br class="home-text27" />
        <span class="home-text28">
          ​We champion a holistic approach that marries form with function,
          aesthetics with usability, and emotion with technology. Every project
          is a canvas where we blend artistry with precision, crafting
          experiences that resonate with authenticity and purpose.
        </span>
        <span><span [innerHTML]="raw7kel"></span></span>
        <span><span [innerHTML]="rawxdj5"></span></span>
      </span>
      <div class="home-container6"></div>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1pbmltYWxpc20lMjB5ZWxsb3d8ZW58MHx8fHwxNjI2MTg0NjU3&amp;ixlib=rb-1.2.1&amp;w=1000"
      class="home-image2"
    />
  </div>
  <div class="home-gallery">
    <gallery-card1
      title="Branding &amp; Strategy"
      subtitle="Graphic Design"
      rootClassName="rootClassName"
    ></gallery-card1>
    <gallery-card1
      title="User Interface &amp; Experience"
      imageSrc="https://images.unsplash.com/photo-1579551053957-ee77f9b970c7?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQ2fHx3b29kc3xlbnwwfHx8fDE2MjY0NDc1ODg&amp;ixlib=rb-1.2.1&amp;w=1000"
      subtitle="Graphic Design"
      rootClassName="rootClassName1"
    ></gallery-card1>
    <gallery-card1
      title="Photo Editing"
      imageSrc="https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHdvb2RzfGVufDB8fHx8MTYyNjQ0NzU3Mw&amp;ixlib=rb-1.2.1&amp;w=1000"
      subtitle="Graphic Design"
      rootClassName="rootClassName2"
    ></gallery-card1>
    <gallery-card1
      title="Marketing &amp; Advertising"
      imageSrc="https://images.unsplash.com/photo-1439853949127-fa647821eba0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE4fHxuYXR1cmV8ZW58MHx8fHwxNjI2NDQ3ODAw&amp;ixlib=rb-1.2.1&amp;w=1000"
      subtitle="Graphic Design"
      rootClassName="rootClassName3"
    ></gallery-card1>
    <gallery-card1
      title="Print on Demand"
      imageSrc="https://images.unsplash.com/photo-1529948723647-8b7bd77b441c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHxjbGlmZnxlbnwwfHx8fDE2MjY0NDc4MjQ&amp;ixlib=rb-1.2.1&amp;w=1000"
      subtitle="Graphic Design"
      rootClassName="rootClassName4"
    ></gallery-card1>
    <gallery-card1
      title="Print Design"
      imageSrc="https://images.unsplash.com/photo-1553570739-330b8db8a925?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxvY2VhbnxlbnwwfHx8fDE2MjY0NDc4ODQ&amp;ixlib=rb-1.2.1&amp;w=1000"
      subtitle="Graphic Design"
      rootClassName="rootClassName5"
    ></gallery-card1>
    <gallery-card11
      title="Website Design"
      imageSrc="https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHdvb2RzfGVufDB8fHx8MTYyNjQ0NzU3Mw&amp;ixlib=rb-1.2.1&amp;w=1000"
      subtitle="Graphic Design"
      rootClassName="rootClassName2"
    ></gallery-card11>
    <gallery-card11
      title="Wordpress Design"
      subtitle="Web Design"
      rootClassName="rootClassName"
    ></gallery-card11>
    <gallery-card11
      title="Social Media Design"
      imageSrc="https://images.unsplash.com/photo-1579551053957-ee77f9b970c7?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQ2fHx3b29kc3xlbnwwfHx8fDE2MjY0NDc1ODg&amp;ixlib=rb-1.2.1&amp;w=1000"
      subtitle="Graphic Design"
      rootClassName="rootClassName1"
    ></gallery-card11>
  </div>
  <div class="home-banner2">
    <div class="home-container7">
      <h1 class="home-text31">About us</h1>
      <span class="home-text32">
        <span>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            volutpat turpis, ut tincidunt lectus. Mauris luctus
            <span [innerHTML]="rawkapn"></span>
          </span>
          <span><span [innerHTML]="raw0bhd"></span></span>
        </span>
        <span>
          rutrum mi ut rhoncus. Integer in dignissim tortor, id egestas ante.
          Proin at enim purus. Mauris ut felis nisi.
        </span>
      </span>
      <div class="home-container8">
        <button class="home-button2 button">Subscribe</button>
      </div>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fG1pbmltYWxpc20lMjB5ZWxsb3d8ZW58MHx8fHwxNjI2MTg0NjU3&amp;ixlib=rb-1.2.1&amp;w=1000"
      class="home-image3"
    />
  </div>
</div>
