<div class="user-interface-experience-container">
  <div class="user-interface-experience-hero">
    <div class="user-interface-experience-container1">
      <h1 class="user-interface-experience-text">APP &amp; WEB UI &amp; UX</h1>
      <span class="user-interface-experience-text01">
        <span>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
            volutpat turpis.
            <span [innerHTML]="raw8riz"></span>
          </span>
          <span><span [innerHTML]="rawnugy"></span></span>
        </span>
        <span>
          <span>
            Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
            <span [innerHTML]="raw0x22"></span>
          </span>
          <span><span [innerHTML]="rawtbao"></span></span>
        </span>
      </span>
      <div class="user-interface-experience-container2">
        <button class="user-interface-experience-button button">
          RESEARCH &amp; ANALYSIS
        </button>
        <button class="user-interface-experience-button1 button">
          <span class="user-interface-experience-text08">
            <span class="user-interface-experience-text09">
              DESIGN &amp; PROTOTYPING
            </span>
            <br />
          </span>
        </button>
      </div>
      <div class="user-interface-experience-container3">
        <button class="user-interface-experience-button2 button">
          VISUAL DESIGN &amp; TESTING
        </button>
        <button class="user-interface-experience-button3 button">
          ITERATION &amp; COLLABORATION
        </button>
      </div>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxtaW5pbWFsaXNtJTIwZ3JlZW58ZW58MHx8fHwxNjI1ODQxMDcw&amp;ixlib=rb-1.2.1&amp;h=1500"
      class="user-interface-experience-image"
    />
  </div>
  <div class="user-interface-experience-hero1">
    <div class="user-interface-experience-container4">
      <h1 class="user-interface-experience-text11">What I Do?</h1>
      <p class="user-interface-experience-text12">
        <span class="user-interface-experience-text13">
          ​I am specialized in creating user experience (UX) and visual
          interface (UI) for digital products and websites. My expertise lies
          in: 
        </span>
        <br />
      </p>
      <li class="list-item user-interface-experience-li">
        <span class="user-interface-experience-text15">
          Understanding user needs
        </span>
      </li>
      <li class="list-item user-interface-experience-li1">
        <span class="user-interface-experience-text16">
          Conducting research
        </span>
      </li>
      <li class="list-item user-interface-experience-li2">
        <span class="user-interface-experience-text17">
          Translating insights
        </span>
      </li>
      <ul class="list user-interface-experience-ul">
        <li class="list-item"></li>
        <li class="list-item"></li>
        <li class="list-item"></li>
      </ul>
      <span class="user-interface-experience-text18">
        into intuitive designs that enhance user experience and delight users.
        From:
      </span>
      <li class="list-item user-interface-experience-li6">
        <span class="user-interface-experience-text19">
          <span>Wireframes and prototyping</span>
          <br />
        </span>
      </li>
      <li class="list-item user-interface-experience-li7">
        <span class="user-interface-experience-text22">Visual design</span>
      </li>
      <li class="list-item user-interface-experience-li8">
        <span class="user-interface-experience-text23">Usability testing</span>
      </li>
      <span class="user-interface-experience-text24">
        I ensure every interaction is carefully designed to deliver a superior
        user experience.
      </span>
      <button class="user-interface-experience-button4 button">
        Get Started
      </button>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1471086569966-db3eebc25a59?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIwfHxtaW5pbWFsaXNtJTIwcGxhbnR8ZW58MHx8fHwxNjI2MTgyODMw&amp;ixlib=rb-1.2.1&amp;w=1200"
      class="user-interface-experience-image1"
    />
  </div>
  <div class="user-interface-experience-testimonial">
    <div class="user-interface-experience-container5">
      <h1 class="user-interface-experience-text25">
        <span>Testimonial</span>
        <br />
      </h1>
      <span class="user-interface-experience-text28">
        In the ever-evolving landscape of digital products and websites,
        crafting exceptional user experiences (UX) and captivating visual
        interfaces (UI) is paramount. As a dedicated UX/UI designer, I bring a
        unique blend of creativity, strategic thinking, and user-centric
        approach to every project I undertake. With a passion for understanding
        user needs, conducting thorough research, and translating insights into
        intuitive designs, I strive to create digital experiences that not only
        meet but exceed expectations.From conceptualizing wireframes and
        prototypes to refining visual designs and conducting rigorous usability
        testing, my goal is to ensure that every interaction is meticulously
        crafted to deliver a superior user experience. But don&apos;t just take
        my word for it—let my clients&apos; testimonials speak to the impact of
        my work and the value I bring to their projects.
      </span>
      <div class="user-interface-experience-container6">
        <testimonial-card12
          pictureSrc="https://images.unsplash.com/photo-1557053910-d9eadeed1c58?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvbWFuJTIwcG9ydHJhaXR8ZW58MHx8fHwxNjI2NDUxOTgy&amp;ixlib=rb-1.2.1&amp;h=1200"
          rootClassName="rootClassName2"
          quote="​I couldn't be happier with the UI design service provided by the previous designer. But this person understood our brand vision very well and translated it into a beautiful user interface that exceeded our expectations. Highly recommended!"
          name="​Sarah Smith"
          pictureAlt="User Interface Design"
        ></testimonial-card12>
        <testimonial-card12
          rootClassName="rootClassName"
          pictureAlt="User Interface Design"
          name="​ John Doe"
          quote="​Work was great for our project. His UI design skills have made our app look amazing. Our users love the intuitive interface, and This person has improved our engagement and retention rates."
        ></testimonial-card12>
        <testimonial-card12
          pictureSrc="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHdvbWFuJTIwcG9ydHJhaXR8ZW58MHx8fHwxNjI2NDUxOTgy&amp;ixlib=rb-1.2.1&amp;h=1200"
          rootClassName="rootClassName1"
          quote="​From start to finish, He showed professionalism, creativity and attention to detail. His UI design solutions not only improve the usability of our products but also improve our brand image. It's a pleasure to work with such a talented team."
          name="​Nick Jhonson"
          pictureAlt="UI DESIGN"
        ></testimonial-card12>
      </div>
      <div class="user-interface-experience-container7">
        <testimonial-card12
          pictureSrc="https://images.unsplash.com/photo-1557053910-d9eadeed1c58?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHdvbWFuJTIwcG9ydHJhaXR8ZW58MHx8fHwxNjI2NDUxOTgy&amp;ixlib=rb-1.2.1&amp;h=1200"
          rootClassName="rootClassName3"
          name="​Emily Williams"
          quote="​The UI design created by Elecnovate has set us apart in a competitive market. The ability to combine aesthetics and function is unmatched. Our customers appreciate the user-friendly interface, and this is a key factor in the growth of our business."
          pictureAlt="UI Design"
        ></testimonial-card12>
        <testimonial-card12
          rootClassName="rootClassName4"
          name="Sarah Thompson"
          pictureAlt="UX Design"
          quote="​Work was great for our project. His UI design skills have made our app look amazing. Our users love the intuitive interface, and This person has improved our engagement and retention rates."
        ></testimonial-card12>
        <testimonial-card12
          pictureSrc="https://images.unsplash.com/photo-1531746020798-e6953c6e8e04?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHdvbWFuJTIwcG9ydHJhaXR8ZW58MHx8fHwxNjI2NDUxOTgy&amp;ixlib=rb-1.2.1&amp;h=1200"
          rootClassName="rootClassName5"
          quote="​From start to finish, He showed professionalism, creativity and attention to detail. His UI design solutions not only improve the usability of our products but also improve our brand image. It's a pleasure to work with such a talented team."
          name="Ryan Garcia"
          pictureAlt="User Experience Design"
        ></testimonial-card12>
      </div>
    </div>
  </div>
  <div class="user-interface-experience-hero2">
    <span class="user-interface-experience-text29">
      <span class="user-interface-experience-text30">
        Lorem ipsum dolor sit amet
      </span>
    </span>
    <h1 class="user-interface-experience-text31">
      Magnificent things are very simple
    </h1>
    <button class="user-interface-experience-button5 button">
      Get Started
    </button>
  </div>
  <div class="user-interface-experience-gallery">
    <gallery-card14 rootClassName="rootClassName"></gallery-card14>
    <gallery-card14
      imageSrc="https://images.unsplash.com/photo-1579551053957-ee77f9b970c7?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDQ2fHx3b29kc3xlbnwwfHx8fDE2MjY0NDc1ODg&amp;ixlib=rb-1.2.1&amp;w=1000"
      rootClassName="rootClassName1"
    ></gallery-card14>
    <gallery-card14
      imageSrc="https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDN8fHdvb2RzfGVufDB8fHx8MTYyNjQ0NzU3Mw&amp;ixlib=rb-1.2.1&amp;w=1000"
      rootClassName="rootClassName2"
    ></gallery-card14>
    <gallery-card14
      imageSrc="https://images.unsplash.com/photo-1439853949127-fa647821eba0?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE4fHxuYXR1cmV8ZW58MHx8fHwxNjI2NDQ3ODAw&amp;ixlib=rb-1.2.1&amp;w=1000"
      rootClassName="rootClassName3"
    ></gallery-card14>
    <gallery-card14
      imageSrc="https://images.unsplash.com/photo-1529948723647-8b7bd77b441c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHxjbGlmZnxlbnwwfHx8fDE2MjY0NDc4MjQ&amp;ixlib=rb-1.2.1&amp;w=1000"
      rootClassName="rootClassName4"
    ></gallery-card14>
    <gallery-card14
      imageSrc="https://images.unsplash.com/photo-1553570739-330b8db8a925?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxvY2VhbnxlbnwwfHx8fDE2MjY0NDc4ODQ&amp;ixlib=rb-1.2.1&amp;w=1000"
      rootClassName="rootClassName5"
    ></gallery-card14>
  </div>
</div>
