<div class="graphic-design-container">
  <div class="graphic-design-hero">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1637416067365-2b5e7e8fe8fa?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDl8fDNkJTIwZGVzaWdufGVufDB8fHx8MTcwOTQ3Nzc0NXww&amp;ixlib=rb-4.0.3&amp;w=1500"
      class="graphic-design-image"
    />
    <div class="graphic-design-container01">
      <h1 class="graphic-design-text">Graphics Design</h1>
      <p class="graphic-design-text01">
        I am Proficient in Adobe Creative Suite (Photoshop, Illustrator,
        InDesign), Figma, Sketch, Canva, and related software, have Strong grasp
        of design principles and visual hierarchy. Experienced in creating
        engaging graphics for branding, marketing, and digital media.
      </p>
      <div class="graphic-design-btn-group">
        <button class="graphic-design-button button">Contact us</button>
        <span class="graphic-design-text02">
          <span>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              volutpat turpis.
              <span [innerHTML]="raw8jn3"></span>
            </span>
            <span><span [innerHTML]="rawy2gx"></span></span>
          </span>
          <span>
            <span>
              Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
              Lorem
              <span [innerHTML]="rawx8aa"></span>
            </span>
            <span><span [innerHTML]="raw9ppa"></span></span>
          </span>
          <span>
            <span>
              ipsum dolor sit amet, consectetur adipiscing elit.
              <span [innerHTML]="rawyifl"></span>
            </span>
            <span><span [innerHTML]="rawk6ug"></span></span>
          </span>
          <br />
          <span></span>
          <br />
          <span>
            <span>
              Mauris luctus rutrum mi ut rhoncus. Integer in dignissim tortor.
              <span [innerHTML]="rawz408"></span>
            </span>
            <span><span [innerHTML]="rawb5nf"></span></span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="graphic-design-pricing"></div>
  <h1 class="graphic-design-text16">Our Capabilities</h1>
  <div class="graphic-design-pricing1">
    <div class="graphic-design-container02">
      <div class="graphic-design-pricing-card">
        <div class="graphic-design-container03">
          <h3 class="graphic-design-text17">VISUAL IDENTITY AND BRANDING</h3>
        </div>
        <div class="graphic-design-container04">
          <span class="graphic-design-text18">
            ✔ Development of logos and brand identities
          </span>
          <span class="graphic-design-text19">
            ✔ Designing icons &amp; Graphics
          </span>
          <span class="graphic-design-text20">
            ✔ Crafting business cards and stationery
          </span>
          <span class="graphic-design-text21">
            ✔ Creating patterns (repeat, seamless, abstract, etc.)
          </span>
          <span class="graphic-design-text22">✔ Icon &amp; illustration</span>
          <span class="graphic-design-text23">✔ Brand application</span>
        </div>
        <button class="graphic-design-button1 button">Learn More</button>
      </div>
      <div class="graphic-design-pricing-card1">
        <div class="graphic-design-container05">
          <h3 class="graphic-design-text24">PHOTO EDITING</h3>
        </div>
        <div class="graphic-design-container06">
          <span class="graphic-design-text25">
            <span>✔ Retouching</span>
            <br />
          </span>
          <span class="graphic-design-text28">✔ Photo Manipulation</span>
          <span class="graphic-design-text29">✔ Colour Correction</span>
          <span class="graphic-design-text30">✔ Object Removal/Addition</span>
          <span class="graphic-design-text31">✔ Image Restoration</span>
          <span class="graphic-design-text32">✔ Product Enhancement</span>
          <span class="graphic-design-text33">
            ✔ Product Photography Editing
          </span>
        </div>
        <button class="graphic-design-button2 button">Learn More</button>
      </div>
      <div class="graphic-design-pricing-card2">
        <div class="graphic-design-container07">
          <h3 class="graphic-design-text34">PRINT DESIGN</h3>
        </div>
        <span class="graphic-design-text35">
          <span>Billed annualy or $32 month-to-month.</span>
          <span></span>
        </span>
        <div class="graphic-design-container08">
          <span class="graphic-design-text38">✔ Resumes</span>
          <span class="graphic-design-text39">✔ Flyers</span>
          <span class="graphic-design-text40">✔ Brochures</span>
          <span class="graphic-design-text41">✔ Posters</span>
          <span class="graphic-design-text42">✔ Catalogs</span>
          <span class="graphic-design-text43">✔ Menus</span>
        </div>
        <button class="graphic-design-button3 button">Learn More</button>
      </div>
    </div>
  </div>
  <div class="graphic-design-pricing2">
    <div class="graphic-design-container09">
      <div class="graphic-design-pricing-card3">
        <div class="graphic-design-container10">
          <span class="graphic-design-text44">
            <span>$</span>
            <span></span>
          </span>
          <h3 class="graphic-design-text47">MARKETING AND ADVERTISING</h3>
        </div>
        <div class="graphic-design-container11">
          <span class="graphic-design-text48">✔ Email Design</span>
          <span class="graphic-design-text49">✔ Print ads</span>
          <span class="graphic-design-text50">✔ Signage Designing</span>
          <span class="graphic-design-text51">✔ Billboards</span>
          <span class="graphic-design-text52">✔ Web Banners</span>
          <span class="graphic-design-text53">✔ Design for Marketing</span>
        </div>
        <button class="graphic-design-button4 button">Learn More</button>
      </div>
      <div class="graphic-design-pricing-card4">
        <div class="graphic-design-container12">
          <span class="graphic-design-text54">
            <span>$</span>
            <span></span>
          </span>
          <h3 class="graphic-design-text57">
            <span>PRINT ON DEMAND</span>
            <br />
          </h3>
        </div>
        <div class="graphic-design-container13">
          <span class="graphic-design-text60">✔ Custom Design Creation</span>
          <span class="graphic-design-text61">✔ Product Mockups</span>
          <span class="graphic-design-text62">✔ Brand Identity</span>
          <span class="graphic-design-text63">✔ Packaging Design</span>
          <span class="graphic-design-text64">✔ Online Store Integration</span>
          <span class="graphic-design-text65">
            ✔ Product Personalization &amp; Customization
          </span>
          <span class="graphic-design-text66">✔ Order Management</span>
          <span class="graphic-design-text67">✔ Customer Support</span>
        </div>
        <button class="graphic-design-button5 button">Learn More</button>
      </div>
    </div>
  </div>
  <img
    alt="image"
    src="https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDR8fGRlc2lnbiUyMHN0b3J5fGVufDB8fHx8MTcwOTQ3NzkxMXww&amp;ixlib=rb-4.0.3&amp;w=1500"
    class="graphic-design-image1"
  />
  <div class="graphic-design-banner">
    <div class="graphic-design-container14">
      <h1 class="graphic-design-text68">Our Story</h1>
      <p class="graphic-design-text69">
        <span>
          This story begins not as a single voice, but as a chorus of creative
          minds. At Elecnovate, each of us brings not only technical expertise,
          but also a passion for the power of visual communication.
        </span>
        <span><span [innerHTML]="raw49n9"></span></span>
        <span><span [innerHTML]="raw2tn6"></span></span>
      </p>
    </div>
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1542626991-cbc4e32524cc?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDE1fHxkZXNpZ24lMjBzdG9yeXxlbnwwfHx8fDE3MDk0Nzc5MTF8MA&amp;ixlib=rb-4.0.3&amp;w=300"
      class="graphic-design-image2"
    />
  </div>
  <div class="graphic-design-testimonial">
    <div class="graphic-design-container15">
      <div class="graphic-design-container16">
        <div class="graphic-design-container17">
          <testimonial-card23
            profileSrc="https://images.unsplash.com/photo-1614630982169-e89202c5e045?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIwfHxtYWxlJTIwcG9ydHJhaXR8ZW58MHx8fHwxNjI2NDUyMTk4&amp;ixlib=rb-1.2.1&amp;h=1200"
            rootClassName="rootClassName1"
            quote="Adapting to Evolving Trends, Delivering Results that Last"
          ></testimonial-card23>
        </div>
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="graphic-design-image3"
        />
      </div>
      <div class="graphic-design-container18">
        <testimonial-card43
          pictureSrc="https://images.unsplash.com/photo-1546456073-ea246a7bd25f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDh8fGJsYWNrJTIwbWFufGVufDB8fHx8MTYyNjQ1MjAwOA&amp;ixlib=rb-1.2.1&amp;h=1200"
          profileSrc="https://images.unsplash.com/photo-1553184118-d20774c4c1db?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxwb3J0cmFpdCUyMGJ3fGVufDB8fHx8MTYyNjQ1MjI0MA&amp;ixlib=rb-1.2.1&amp;h=1200"
          rootClassName="rootClassName"
        ></testimonial-card43>
      </div>
    </div>
  </div>
</div>
